{% extends 'base.html' %}
{% block content %}

    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p style="padding: 20px;"></p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            BUCKETLISTS
                            <a href="#bucket" class="pull-right" data-toggle="modal"><i class="fa fa-plus"></i> ADD BUCKET</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Travel
                                <a href="#" class="pull-right"><i class="fa fa-trash-o"></i> Delete</a>
                                <a href="#" class="pull-right"><i class="fa fa-pencil-square"></i> Edit&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                            </li>
                            <li class="list-group-item">
                                Hiking
                                <a href="#" class="pull-right"><i class="fa fa-trash-o"></i> Delete</a>
                                <a href="#" class="pull-right"><i class="fa fa-pencil-square"></i> Edit&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr>

{% endblock %}