{% extends 'base.html' %}
{% block content %}

    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p style="padding: 20px;"></p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            BUCKETLISTS
                            <a href="#bucket" class="pull-right" data-toggle="modal"><i class="fa fa-plus"></i> ADD BUCKET</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if user.buckets|length == 0 %}
                            <div class="alert alert-warning">No Buckets yet</div>
                        {% else %}    
                            <ul class="list-group">
                                {% for bucket in user.buckets %}
                                    <li class="list-group-item">
                                        {{ bucket.name }}
                                        <a href="#" class="pull-right"><i class="fa fa-trash-o"></i> Delete</a>
                                        <a href="#" class="pull-right"><i class="fa fa-pencil-square"></i> Edit&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <hr>


    <!-- Add bucket Modal -->
    <div class="modal fade" tabindex="-1" role="dialog"  id="bucket" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">ADD ITEM</h4>
          </div>
          <form action="" method="post" class="form-horizontal" id="buckets">
              <div class="modal-body">
                <div class="form-group">
                    <label for="bucket" class="col-sm-2 control-label">Bucket</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="bucket" id="bucket" placeholder="Bucket Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                    <textarea id="description" class="form-control"></textarea>
                    </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary"  value="Save">
              </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}