{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p style="padding: 20px;"></p>
            <h2>{{ bucket }}
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#bucketitem"><i class="fa fa-plus"></i> ADD ITEM/GOAL</button>
            </h2>
            <hr>

            {% if bucket_object.bucketitems|length == 0 %}
                <div class="alert alert-warning">No Bucket Items Yet</div>
            {% else %}
            <div class="row">    
               {% for bucketitem in bucket_object.bucketitems %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {{ bucketitem.name }}
                                    <a href="#del-{{ bucketitem.name }}" data-toggle="modal" class="pull-right">
                                        <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-body">
                               
                                {{ bucketitem.description }}
                                <div class="">
                                    <button type="button" data-toggle="modal" data-target="#edit-{{ bucketitem.name }}" class="btn btn-success btn-sm">
                                    <i class="fa fa-edit fa-fw" aria-hidden="true"></i> Edit
                                    </button>
                                    <!--<button type="button" class="btn btn-info btn-sm">
                                    <i class="fa fa-check fa-fw" aria-hidden="true"></i> Mark as Done
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                    <i class="fa fa-share fa-fw" aria-hidden="true"></i> Share
                                    </button>-->
                                </div>
                            </div>                       
                        </div>
                    </div>
               {% endfor %}
            </div>
            {% endif %}    


        </div>
    </div>

                  
<!-- Add item Modal -->
    <div class="modal fade" tabindex="-1" role="dialog"  id="bucketitem" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">ADD BUCKET ITEM</h4>
          </div>
          <form action="{{ url_for('create_bucketitem') }}" method="post" class="form-horizontal" id="buckets">
              <div class="modal-body">
                <div class="form-group">
                    <label for="item" class="col-sm-2 control-label">Bucket Item</label>
                    <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="bucket_name" id="name" Value="{{ bucket }}">
                    <input type="text" class="form-control" name="item" id="item" placeholder="Bucket item Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                    <textarea id="description" name="description" class="form-control"></textarea>
                    </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary"  value="Save">
              </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}



